@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bubblegum Sans", sans-serif;
}
body{
    background-color: #202020;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#gameBoard{
    display: flex;

    margin-top: 50px;
    height: 500px;
    width: 70%;
}
#gamePanel{
    color: #fff;
    /* color: #571993; */
    height: 100%;
    width: 40%;
    text-align: center;
    background: linear-gradient(30deg, #a925e5, #776bf3);
}
.gameHeading{
    margin: 50px 0 20px;
}
#realNumber{
    margin: auto;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    border-radius: 10px;
    color: #571993;
    background-color: gold;
}
.guessingField{
    height: 200px;
    width: 80%;
    margin: auto;
}
#inputField{
    width: 100%;
    height: 60px;
    margin: 20px 0;
    padding: 10px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
}
.sbt{
    width: 70%;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: green;
}
.sbt:active{
    background-color: darkgreen;
}

#dasboard{
    padding: 20px 10px 10px;
    height: 100%;
    width: 60%;
    color: #571993;
    background-color: #f1f0f0;
    border: 2px solid #ddd;
    & .dasboardHeading{
        margin-bottom: 10px;
    }
}
.guessedNums{
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.guessedNum{
    max-width: 60px;
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    width: 60px;
    color: #fff;
    background-color: #776bf3;
}
.dasHeading{
    margin-bottom: 10px;
    font-size: 27px;
}
.remainingGuess, .guessScore{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    width: 100%;
}
.display{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
}
.displayMessage{
    font-size: 40px;
    height: fit-content;
    text-align: center;
}
.gameBtns{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.gameBtn{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #a925e5;
    border: none;
}
.hide{
    display: none;
}